* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-color: #1F2937;
  padding-left: 300px;
  padding-right: 300px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

.main {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 700;
}

.list,
.secondary {
  color: #E5E7EB;
  font-size: 18px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 7px;
  padding: 10px 30px;
  font-weight: 700;
  border-style: none;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.hero-bottom {
  display: flex;
  padding-bottom: 100px;
  gap: 200px;
}

img {
  height: 350px;
  width: auto;
}

.main,
.secondary {
  padding-bottom: 20px;
}

.info {
  color: #1F2937;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  padding: 50px;
}

.illustration {
  display: flex;
  padding-left: 400px;
  padding-right: 400px;
}

.box {
  color: rgb(104, 104, 104);
  font-size: 18px;
  text-align: center;
  padding-bottom: 100px;
}

.image-1 {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.box > div {
  padding: 20px;
}

.quote {
  background-color: #E5E7EB;
  padding: 150px 400px;
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
}

.quote-author {
  font-size: 23px;
  font-weight: 700;
  text-align: right;
  padding-right: 100px;
}

.sign-up {
  padding: 120px 300px;
}

.sign-up-box {
  background-color: #3882F6;
  border-radius: 20px;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
}

.text-1 {
  color: #F9FAF8;
  font-size: 30px;
  font-weight: 700;
}

.text-2 {
  color: #E5E7EB;
  font-size: 20px;
}

.sign-up-box > button {
  border: 2px solid #F9FAF8;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 24px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}